.main-container {
  display : block;
  /*background-color : #ebebeb;*/
  /*background-color : #EFEFEF;*/
  background-color : #F9F9F9;
  color : #474747;
  overflow : hidden;
  height : 100%;
}



/*.modal-confirm {
  background-color : green;
}

.modal-cancel {
  background-color : red;
}*/






//
// .app-container {
//   position : relative;
//   width    : 100%;
//   height   : 100%;
//   overflow : auto;
// }




.footer > p {
  font-size : 14px;
  margin : 8px;
  color : #666;
}
